.colaborador {
  width: 280px;
}

.colaborador .cabecalho {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0px 0px;
}
.colaborador img {
  min-width: 100px;
  max-width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
  max-height: 100px;
  min-height: 100px;
  object-fit: cover;
}

.colaborador .rodape {
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 50px;
}

.colaborador .rodape h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.colaborador .rodape h5 {
  margin: 0;
  padding: 0;
}
.colaborador .rodape h5 {
  font-size: 18px;
  line-height: 22px;
  color: #212121;
  font-weight: 500;
}

.colaborador .rodape .btn__deletar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.btn__deletar button {
  margin: 1rem 1rem 1.5rem 0;
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.3rem;
}
