.adicionar {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 0;
}

.adicionar__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adicionar__titulo h2 {
  color: #FCE561;
  font-size: 2.5rem;
  margin: 1.1rem 0 2rem 0;
  text-align: center;
}

.adicionar__titulo .borda {
  background-color: #FCE561;
  width: 64px;
  height: 4px;
  margin-top: -1.25rem;
}

.adicionar__botao {
  display: flex;
  align-items: center;
}

.adicionar__botao button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: scale .7s;
}

.adicionar__botao button:hover {
  scale: 1.1;
}

@media (min-width: 375px) and (max-width: 600px){
  .adicionar__titulo h2 {
    font-size: 2rem;
  }

  .adicionar__botao {
    margin-top: 1rem;
  }

  .adicionar__botao button img {
    max-height: 50px;
    max-width: 50px;
  }
}
