.campo-texto {
  margin: 1.875rem 0;
}

.campo-texto label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  color: #212121;
  font-weight: 600;
}

.campo-texto input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  font-size: 1.2rem;
  padding: 1.875rem;
  box-sizing: border-box;
}

.campo-texto input::placeholder {
  color: #afafaf;
}
